var formatdate = function(date){
  if(date.length == 0 || date == undefined){return;}
  if (date.length >= 10){
    if (date.substring(5).charAt(0) == '0') { 
      return date.substring(6).replace("-", "/");
    }else{
      return date.substring(5).replace("-", "/");
    }
  }else{
    return date;
  }
}

var formattem = function(tem){
  if (tem.length == 0 || tem == undefined){return;}
  return tem.replace("℃", "°");

}

module.exports = {
  formatdate: formatdate,
  formattem: formattem
  }